* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
    font-size: 32px;
    font-weight: 800;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgb(10, 255, 0), yellow);
}

ul {
    position: relative;
    transform: skewY(-15deg);

}

ul li img {}

ul li {
    position: relative;
    list-style: none;
    background: #00f5ff;
    z-index: var(--i);
    transition: .5s;
    padding: 15px;
    box-shadow: 0 0 100px pink;
}

ul li:hover {
    background: linear-gradient (130deg, #008000, #000000);
    transform: translateX(-85px);
}
ul li hover::before{
    background: linear-gradient (130deg,green, black);
    box-shadow: 0 0 10px #fff;
}
ul li hover::after{
    background: linear-gradient (130deg,green, black);
    box-shadow: 0 0 100px pink;
}
ul li::before{
    content: '';
    position: absolute;
    background:  #00f5ff;
    width: 40 px;
    height: 100%;
    top: 0px;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
    box-shadow: 0 0 60px pink;

}
